.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#allDevices {
  text-align: center;
  width: 50%;
  margin: 20px auto;
}

#peripherals {
  text-align: center;
  width: 50%;
  margin: auto;
}

#noPeripherals {
  text-align: center;
  width: 50%;
  margin: auto;
}